
<nav class="navbar navbar-expand-lg navbar-dark bg-dark position-absolute top-0 start-0 text-white">
  <hr style="width:0.5%;text-align:left;margin-left:0">

  <a class="navbar-brand text-dark" href="#">Super Tech</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link text-dark" href="#">Home <span class="sr-only"></span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark" href="#">Publicaçõessssss</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link text-dark" href="#">Categoriassssssss <span class="sr-only"></span></a>
      </li>
      {{#if user}}
        <li class="nav-item text-dark">
        <a class="nav-link" href="#">Sair</a>
      </li>
      {{else}}
       <li class="nav-item">
        <a class="nav-link text-dark" href="#">Loginssssssss</a>
      </li>
       <li class="nav-item">
        <a class="nav-link text-dark" href="#">Registroddddaaaaa</a>
      </li>
      {{/if}}
  </div>
</nav>

<div class="position-absolute top-50 start-50 translate-middle">
<div class="card">
  <h5 class="card-header text-center bg-warning">
    <div class="bg-warning">
      <h3 class="fw-bolder">Aviso!</h3>
    </div>  
  </h5>
  <div class="card-body bg-light text-center">
    <h5 class="card-title">Este site é apenas para fins demonstrativos</h5>
    <p class="card-text">Clicando no botão abaixo você concordará que o site é para fins ilustrativos</p>
    <a href="/home" class="btn btn-primary">Eu concordo</a>
  </div>
</div>
</div>