<div class="position-absolute top-50 start-50 translate-middle">
<div class="card">
  <h5 class="card-header text-center bg-warning">
    <div class="bg-warning">
      Aviso!
    </div>  
  </h5>
  <div class="card-body bg-light text-center">
    <h5 class="card-title">Este site é apenas para fins demonstrativos</h5>
    <p class="card-text">Clicando no botão abaixo você concordará que o site é para fins ilustrativos</p>
    <a href="/home" class="btn btn-primary">Eu concordo</a>
  </div>
</div>
</div>